

:root {
    --sb-text-shadow: 6px 6px 5px rgba(0 0 0 0.5);
}

body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00ffcc;
    font-size: 36px;
    font-family: 'Segoe UI', sans-serif;
    text-shadow: var(--sb-text-shadow);
}

.sb-scoreBoard {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url('../../GlobalShared/background (temp)/Canvas_mockup_003.png');
    background-size: 100% 100%; /* scale image to container size */
    background-repeat: no-repeat;

    filter: blur(15px); /* adjust radius */
}
.sb-backgroundGradient {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(to top,#004268,#000c21);
    opacity: 0.3;
}

.sb-scoreBoardHolder {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

/*global variables*/
:root {
    --BlueCol: #0082ff;
    --OrangeCol: #ff6d00;
}
/*title block*/
.sb-titleBlock {
    position: absolute;
    width: 1920px;
    height: 50px;
    background: linear-gradient(to left, #352400, #000 25%, #000 75%, #03002E 100% );
}

.sb-titleText {
    position: absolute;
    text-align: center;
    width: 1920px;
    font-family: Impact;
    color: white;
    text-shadow: var(--sb-text-shadow);
    font-size: 36px;
    transform: translate(0px, -70%);
}

.sb-teamTitleContainer {
    position: absolute;
    width: 1920px;
    height: 90px;
}
/*Blue scoreboard*/
.sb-blueTitleContainer {
    position: absolute;
    transform: translate(0px, 50px);
    width: 900px;
    height: 90px;
}
.sb-blueBorderTop {
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: var(--BlueCol);
}
.sb-blueScoreContainer {
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(var(--BlueCol), #00c1ff);
    transform: skew(10deg, 0);
    left: 800px;
    align-items: center;
}
.sb-blueTextBG {
    position: absolute;
    width: 800px;
    height: 90px;
    background: linear-gradient(to right, #0059aea1, #00000000);
    align-items: center;
}
.sb-blueScore {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -46px;
    left: 28px;
    align-content: center;
    font-family: Impact;
    text-shadow: var(--sb-text-shadow);
    font-size: 50px;
    color: white;
}
.sb-blueName {
    position: absolute;
    text-align: right;
    top: -45px;
    right: 10px;
    font-family: 'Franklin Gothic';
    font-size: 60px;
    color: white;
    width: 800px;
}
.sb-blueLogo {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 70px;
    height: 70px;
}


/*Orange scoreboard*/
.sb-orangeTitleContainer {
    position: absolute;
    transform: translate(0px, 50px);
    right: 0px;
    width: 900px;
    height: 90px;
}

.sb-orangeBorderTop {
    position: absolute;
    width: 90%;
    right:0px;
    height: 10px;
    background-color: var(--OrangeCol);
}

.sb-orangeScoreContainer {
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(var(--OrangeCol), #ffb043);
    transform: skew(-10deg, 0);
    right: 800px;
    align-items: center;
}

.sb-orangeTextBG {
    position: absolute;
    width: 800px;
    height: 90px;
    right: 0px;
    background: linear-gradient(to left, #ae9500a1, #00000000);
    align-items: center;
}

.sb-orangeScore {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -46px;
    left: 28px;
    align-content: center;
    font-family: Impact;
    text-shadow: var(--sb-text-shadow);
    font-size: 50px;
    color: white;
}

.sb-orangeName {
    position: absolute;
    text-align: left;
    top: -45px;
    left: 10px;
    font-family: 'Franklin Gothic';
    font-size: 60px;
    color: white;
    width: 800px;
}

.sb-orangeLogo {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 70px;
    height: 70px;
}

/*Centre of score board (game text)*/
.sb-gameTextContainer {
    position: absolute;
    left: 45%;
    top: 50px;
    background-color: #02002b;
    width: 200px;
    height: 80px;
}

.sb-gameNumberText {
    position: absolute;
    width: 200px;
    height: 80px;
    top: -30px;
    left: 25%;
    font-family: Impact;
    text-shadow: var(--sb-text-shadow);
    font-size: 36px;
    color: white;
}

.sb-totalGamesText {
    position: absolute;
    width: 200px;
    height: 80px;
    top: 30px;
    left: 45%;
    font-family: Impact;
    text-shadow: var(--sb-text-shadow);
    font-size: 20px;
    color: white;
}

/*Game Stats*/
.sb-gameStatsContainer{
    position: absolute;
    width: 100%;
    height: 880px;

    left: 5%;

    top: 200px;
}

.sb-playerListContainer{
    position: absolute;
    width: 100%; 
    height: 125px;
}

.sb-box {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 0px;
}

.sb-blueHalf {
    position: absolute;
    width: 50%;
    height: 100%;

    left: -10%;
}

.sb-orangeHalf {
    position: absolute;
    width: 50%;
    height: 100%;
    right: -10%;
}

.sb-blueNamesLine {
    position:absolute;

    width: 100%;
    height: 5px;
    bottom: 0px;

    background-color: var(--BlueCol);
}

.sb-orangeNamesLine {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0px;
    background-color: var(--OrangeCol);
}

.sb-blueNamesBackground {
    position: absolute;
    width: 5px;
    height: 100%;

    right: 10px;

    transform: skew(10deg, 0);

    background: linear-gradient(#00000000, var(--BlueCol));
}

.sb-orangeNamesBackground {
    position: absolute;
    width: 5px;
    height: 100%;
    left: 10px;
    transform: skew(-10deg, 0);
    background: linear-gradient(#00000000, var(--OrangeCol));
}

.sb-blueGridContainer {
    position: absolute;
    width: 70%;
    right: 0px;
    bottom: 0px;
}

.sb-orangeGridContainer {
    position: absolute;
    width: 70%;
    left: 0px;
    bottom: 0px;
}

.sb-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sb-bluePlayer {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Impact;
    text-shadow: var(--sb-text-shadow);
    font-size: 36px;
    color: white;
}

.sb-sbLine {
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 0px;
    background: linear-gradient( to right, #002a53 0%, #002a53 50%, #572500 50%, #572500 100% );
}


.sb-centreTitle {
    width: 100%;
    position: absolute;
    font-family: Impact;
    text-shadow: var(--sb-text-shadow);
    font-size: 36px;
    color: white;
    left: 0%;
    bottom: -100%;
    text-align: center;
}

/*Score*/
.sb-scoreBox {
    position: absolute;
    width: 90%;
    height: 100px;

    top: 125px;
}

/*goals*/
.sb-goalsBox {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 225px;
}

/*assists*/
.sb-assistsBox {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 325px;
}

/*shots*/
.sb-shotsBox {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 425px;
}
/*saves*/
.sb-savesBox {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 525px;
}

/*touches*/
.sb-touchesBox {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 625px;
}

/*demo*/
.sb-demoBox {
    position: absolute;
    width: 90%;
    height: 100px;
    top: 725px;
}



.sb-centreLine {
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%,50%);

    overflow: hidden;
}

.sb-lineObject {
    position: relative; /* key part */
    width: 100%;
    height: 100%;
}

.sb-centreLineBlue {
    position: absolute;
    width: 200px;
    height: 10px;
    bottom: 15px;
    left: -100px;
    background-color: var(--BlueCol);
}
.sb-centreLineOrange {
    position: absolute;
    width: 200px;
    height: 10px;
    bottom: 15px;
    right: -100px;
    background-color: var(--OrangeCol);
}
.sb-centreLineCentre {
    position: absolute;
    width: 5px;
    height: 40px;
    bottom: 0px;
    left: 97.5px;
    background-color: #000;
    box-shadow: 10px 0px 14px #ff6d00, 
        -20px 0px 14px #0082ff;
}