

body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00ffcc;
    font-size: 36px;
    font-family: 'Segoe UI', sans-serif;
    text-shadow: 0 0 10px #000;
}

/*global variables*/
:root {
    --BlueCol: #0082ff;
}
/*title block*/
.titleBlock {
    position: absolute;
    width: 1920px;
    height: 50px;
    background: linear-gradient(to left, #352400, #000 25%, #000 75%, #03002E 100% );
}

.titleText {
    position: absolute;
    text-align: center;
    width: 1920px;
    font-family: Impact;
    color: white;
    font-size:36px;
    transform: translate(0px, -70%);
}

.teamTitleContainer {
    position: absolute;
    width: 1920px;
    height: 90px;
}
/*Blue scoreboard*/
.blueTitleContainer {
    position: absolute;
    transform: translate(0px, 50px);
    width: 900px;
    height: 90px;
}
.blueBorderTop {
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: var(--BlueCol);
}
.blueScoreContainer {
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(var(--BlueCol), #00c1ff);
    transform: skew(10deg, 0);
    left: 800px;
}
.blueTextBG {
    position: absolute;
    width: 800px;
    height: 90px;
    background: linear-gradient(to right, #0059aea1, #00000000);
}
.blueScore {
    position: absolute;
    transform: translate(50%, -50%);
    font-family: Impact;
    font-size: 50px;
    color: white;
}
/*Orange scoreboard*/